mat-toolbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
mat-icon {
    display: none;
}

.button {
    color: #fff;
    text-decoration: none;
    font-size: 32px;
}

.button:hover {
    opacity: 0.8;
}

button {
    border: none;
    color: #1976d6;
}

button i {
    color: #1976d6;
}

button mat-icon {
    color: #fff;
}



