<mat-toolbar color="primary">
    <div class="toolbar-left">
        <button mat-icon-button class="icon" aria-label="icon-button with menu icon">
            <mat-icon>menu</mat-icon>
            <a [routerLink]="['/']" class="button" aria-label="button with name my store">
                My Store
            </a>
        </button>
    </div>
    
    <div class="toolbar-right">
        <div class="button-checkout">
            <button mat-raised-button aria-label="icon-button with a shooping cart icon and button name checkout">
                <i class="material-icons">shopping_cart</i>
                Checkout
            </button>
        </div>
    </div>
</mat-toolbar>

